/* Google font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Custom Css for slider */
.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

.carousel-caption h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    line-height: 47px;
}

.carousel-caption h6 {
    font-size: 16px;
    font-weight: 600;
    color: lightskyblue;
}

.carousel-caption p {
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
}

.btn {
    background-color: brown;
    color: white;
    border-radius: .20rem;
    padding: .5rem 1rem;
    font-size: 18px;
}

/* footer background */
.explore {
    background-color: rgb(192, 226, 226);
}